.main-body {
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.409);
  top: 10vh;
  margin: 0 auto;
  text-align: center;
  padding: 2rem;
  width: 70%;
}

form {
  width: 100%;
  background-color: rgba(241, 240, 240, 0.821);
  margin: 0 auto;
}

form input[type="number"] {
  width: 70%;
  padding: 5px;
  font-size: 18px;
  border-radius: 5px;
  border: 0.5px solid rgba(0, 0, 0, 0.625);
}

.result {
  position: relative;
  top: 10rem;
  margin: 0 auto;
}

#btn {
  padding: 5px;
  width: 15vh;
  margin: 1rem auto;
  background-color: rgba(0, 0, 0, 0.588);
  color: white;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 900px) {
  form input[type="number"] {
    width: 90%;
    padding: 5px;
    font-size: 18px;
    border-radius: 5px;
    border: 0.5px solid rgba(0, 0, 0, 0.625);
  }
}
